<p id="notice"><%= notice %></p>

<p>
  <strong>Cp1 x:</strong>
  <%= @bezier_curf.cp1_x %>
</p>

<p>
  <strong>Cp1 y:</strong>
  <%= @bezier_curf.cp1_y %>
</p>

<p>
  <strong>Cp2 x:</strong>
  <%= @bezier_curf.cp2_x %>
</p>

<p>
  <strong>Cp2 y:</strong>
  <%= @bezier_curf.cp2_y %>
</p>

<p>
  <strong>Sp x:</strong>
  <%= @bezier_curf.sp_x %>
</p>

<p>
  <strong>Sp y:</strong>
  <%= @bezier_curf.sp_y %>
</p>

<p>
  <strong>Ep x:</strong>
  <%= @bezier_curf.ep_x %>
</p>

<p>
  <strong>Ep y:</strong>
  <%= @bezier_curf.ep_y %>
</p>

<p>
  <strong>Draw:</strong>
  <%= @bezier_curf.draw_id %>
</p>

<%= link_to 'Edit', edit_bezier_curf_path(@bezier_curf) %> |
<%= link_to 'Back', bezier_curves_path %>
