<p id="notice"><%= notice %></p>

<h1>Listing Bezier Curves</h1>

<table>
  <thead>
    <tr>
      <th>Cp1 x</th>
      <th>Cp1 y</th>
      <th>Cp2 x</th>
      <th>Cp2 y</th>
      <th>Sp x</th>
      <th>Sp y</th>
      <th>Ep x</th>
      <th>Ep y</th>
      <th>Draw</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bezier_curves.each do |bezier_curf| %>
      <tr>
        <td><%= bezier_curf.cp1_x %></td>
        <td><%= bezier_curf.cp1_y %></td>
        <td><%= bezier_curf.cp2_x %></td>
        <td><%= bezier_curf.cp2_y %></td>
        <td><%= bezier_curf.sp_x %></td>
        <td><%= bezier_curf.sp_y %></td>
        <td><%= bezier_curf.ep_x %></td>
        <td><%= bezier_curf.ep_y %></td>
        <td><%= bezier_curf.draw_id %></td>
        <td><%= link_to 'Show', bezier_curf %></td>
        <td><%= link_to 'Edit', edit_bezier_curf_path(bezier_curf) %></td>
        <td><%= link_to 'Destroy', bezier_curf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bezier curve', new_bezier_curf_path %>
