<!DOCTYPE html>
<html>
<head>
  <title>PrintAPal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="style.css" rel="stylesheet" type="text/css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/d2a4a2be39.js"></script>
  <style>
  a:hover{
    text-decoration: none !important;
    background: none;
  }
  .table-dashboard {
    width: 70%;
    margin: 0% 12%;
    padding: 0% 3%;
    border: solid;
    border-radius: 10px;
  }
  .ui-button-text{
    border: solid;
    padding: 5px 2%;
    border-radius: 10px;
    background: green;
    color: white;
  }
  </style>
</head>
<body>

<!-- # added these lines. -->


<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
 <%= yield %>


</body>
</html>
